div.navbar.navbar-static-top
  div.navbar-inner
    div.container
      a.brand(href='/') Ogorin Part-timer Portal

      if currentUser
        ul.nav
          if slug === 'profile'
            li.active: a(href='/profile') マイプロフィール
          else
            li: a(href='/profile') マイプロフィール

          if slug === 'explore'
            li.active: a(href='/user') ユーザー検索する
          else
            li: a(href='/user') ユーザー検索する
            
        ul.nav.pull-right
          li.divider-vertical
          li.dropdown
            div.btn-group
              button.btn
                i.icon-user
                &nbsp; 
                =currentUser.username
              button.btn.dropdown-toggle(href='#', data-toggle='dropdown')
                span.caret

              ul.dropdown-menu
                li
                  a(href='/dashboard')
                    i.icon-th-large
                    | &nbsp;ダッシュボード
                li 
                  a(href='/logout')
                    i.icon-eject
                    | &nbsp;ログアウト
