extends ../layout

block content
  .tab-bar
    ul.nav.nav-tabs
      li.active.offset3
        a(href='/dashboard') Admin Account


  .row.offset2
    #left-nav-admin.span3
      ul.nav.nav-list.well
        li.nav-header Admin Options
        li.active 
          a(href='/dashboard/update-password') Change Password
        li
          a(href='/dashboard/update-email') Change Email
        li.divider
        li
          a(href='/logout') Logout
    #change-pass.span6.offset2
      if message.length !== 0
        .row
          .alert.alert-error.span5.login-alert
            button.close(type='button', data-dismiss='alert') x
            =message

      form.form(action='/dashboard/update-password', method='post')
        legend Change Password
        div.control-group
          label.control-label(for='oldPassword') Old Password:
          div.controls
            input#username.input-xlarge(type='password', name='oldPassword',
            placeholder='Old Password')
            
        div.control-group
          label.control-label(for='password') New Password:
          div.controls
            input#password.input-xlarge(type='password', name='password',
            placeholder='Password')

        div.control-group
          label.control-label(for='password') New Password Confirmation:
          div.controls
            input#password.input-xlarge(type='password', name='passwordConfirm',
              placeholder='Password Confirmation')

        div.contrl-group
          div.controls
            button.btn.btn-primary(type='submit') Change Password
            input(type='hidden', name='_csrf', value=token)

