extends ../layout

block content
  .tab-bar
    ul.nav.nav-tabs
      li.active.offset3
        a(href='/dashboard') ユーザーアカウント


  .row.offset2
    #left-nav-admin.span3
      ul.nav.nav-list.well
        li.nav-header ユーザーオプション
        li.active 
          a(href='/dashboard/update-password') パスワード変更
        li
          a(href='/dashboard/update-email') メールアドレス変更
        li.divider
        li
          a(href='/logout') ログアウト
    #change-pass.span6.offset2
      if message.length !== 0
        .row
          .alert.alert-error.span5.login-alert
            button.close(type='button', data-dismiss='alert') x
            =message

      form.form(action='/dashboard/update-password', method='post')
        legend パスワード変更
        div.control-group
          label.control-label(for='oldPassword') 旧パスワード:
          div.controls
            input#username.input-xlarge(type='password', name='oldPassword',
            placeholder='旧パスワード')
            
        div.control-group
          label.control-label(for='password') 新パスワード:
          div.controls
            input#password.input-xlarge(type='password', name='password',
            placeholder='新パスワード')

        div.control-group
          label.control-label(for='password') 新パスワード確認:
          div.controls
            input#password.input-xlarge(type='password', name='passwordConfirm',
              placeholder='新パスワード確認')

        div.contrl-group
          div.controls
            button.btn.btn-primary(type='submit') パスワード変更
            input(type='hidden', name='_csrf', value=token)

